main {
    view-transition-name: main;
}

html:active-view-transition-type(l) {
    &::view-transition-old(main) {
        animation: 500ms ease-in-out both slide-out-top;
    }
    
    &::view-transition-new(main) {
        animation: 500ms ease-in-out both slide-in-bottom;
    }
}

html:active-view-transition-type(r) {
    &::view-transition-old(main) {
        animation: 500ms ease-in-out both slide-in-top;
    }
    
    &::view-transition-new(main) {
        animation: 500ms ease-in-out both slide-out-bottom;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateX(2%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-top {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-2%);
        opacity: 0;
    }
}

@keyframes slide-in-top {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(2%);
        opacity: 0;
    }
}

@keyframes slide-out-bottom {
    from {
        transform: translateX(-2%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
